### Filtering & Sentiment Analysis Operations

#### Exercise: a bit more data processing. Clean the data just a bit more. Add columns that will be useful later, change the values in other columns, and drop certain columns completely.

##### 1. Initial column processing

##### i. Drop lat and lng

##### ii. Replace Hotel_Address values with the following values (if the address contains the same of the city and the country, change it to just the city and the country).

##### These are the only cities and countries in the dataset: Amsterdam:Netherlands, Barcelona:Spain, London, United Kingdom

##### Milan, Italy

##### Paris, France

##### Vienna, Austria

In [2]:
import pandas as pd
df = pd.read_csv('Hotel_Reviews.csv')

In [3]:
def replace_address(row):
    if "Netherlands" in row["Hotel_Address"]:
        return "Amsterdam, Netherlands"
    elif "Barcelona" in row["Hotel_Address"]:
        return "Barcelona, Spain"
    elif "United Kingdom" in row["Hotel_Address"]:
        return "London, United Kingdom"
    elif "Milan" in row["Hotel_Address"]:        
        return "Milan, Italy"
    elif "France" in row["Hotel_Address"]:
        return "Paris, France"
    elif "Vienna" in row["Hotel_Address"]:
        return "Vienna, Austria" 

# Replace all the addresses with a shortened, more useful form
df["Hotel_Address"] = df.apply(replace_address, axis = 1)
# The sum of the value_counts() should add up to the total number of reviews
print(df["Hotel_Address"].value_counts())

London, United Kingdom    262301
Barcelona, Spain           60149
Paris, France              59928
Amsterdam, Netherlands     57214
Vienna, Austria            38939
Milan, Italy               37207
Name: Hotel_Address, dtype: int64

##### Now you can query country level data:

In [4]:
display(df.groupby("Hotel_Address").agg({"Hotel_Name": "nunique"}))

                        Hotel_Name
Hotel_Address
Amsterdam, Netherlands         105
Barcelona, Spain               211
London, United Kingdom         400
Milan, Italy                   162
Paris, France                  458
Vienna, Austria                158

##### Process Hotel Meta-review columns

##### Drop Additional_Number_of_Scoring

##### Replace Total_Number_of_Reviews with the total number of reviews for that hotel that are actually in the dataset

##### Replace Average_Score with our own calculated score

In [ ]:
# Drop `Additional_Number_of_Scoring`
df.drop(["Additional_Number_of_Scoring"], axis = 1, inplace=True)
# Replace `Total_Number_of_Reviews` and `Average_Score` with our own calculated values
df.Total_Number_of_Reviews = df.groupby('Hotel_Name').transform('count')
df.Average_Score = round(df.groupby('Hotel_Name').Reviewer_Score.transform('mean'), 1)

In [2]:
import time
import pandas as pd
import nltk as nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

# Load the filtered hotel reviews from CSV
df = pd.read_csv('Hotel_Reviews.csv')

# You code will be added here


# Finally remember to save the hotel reviews with new NLP data added
print("Saving results to Hotel_Reviews_NLP.csv")
df.to_csv('Hotel_Reviews_NLP.csv', index = False)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\RIDIKKO\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Saving results to Hotel_Reviews_NLP.csv

##### Removing stop words

In [5]:
import time
import pandas as pd
import nltk as nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
nltk.download('stopwords')

# Load the hotel reviews from CSV
df = pd.read_csv("Hotel_Reviews_NLP.csv")

# Remove stop words - can be slow for a lot of text!
# Ryan Han (ryanxjhan on Kaggle) has a great post measuring performance of different stop words removal approaches
# https://www.kaggle.com/ryanxjhan/fast-stop-words-removal # using the approach that Ryan recommends
start = time.time()
cache = set(stopwords.words("english"))
def remove_stopwords(review):
    text = " ".join([word for word in review.split() if word not in cache])
    return text

# Remove the stop words from both columns
df.Negative_Review = df.Negative_Review.apply(remove_stopwords)   
df.Positive_Review = df.Positive_Review.apply(remove_stopwords)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\RIDIKKO\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RIDIKKO\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

##### Performing sentiment analysis

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Create the vader sentiment analyser (there are others in NLTK you can try too)
vader_sentiment = SentimentIntensityAnalyzer()
# Hutto, C.J. & Gilbert, E.E. (2014). VADER: A Parsimonious Rule-based Model for Sentiment Analysis of Social Media Text. Eighth International Conference on Weblogs and Social Media (ICWSM-14). Ann Arbor, MI, June 2014.

# There are 3 possibilities of input for a review:
# It could be "No Negative", in which case, return 0
# It could be "No Positive", in which case, return 0
# It could be a review, in which case calculate the sentiment
def calc_sentiment(review):    
    if review == "No Negative" or review == "No Positive":
        return 0
    return vader_sentiment.polarity_scores(review)["compound"]

##### Later in your program when you are ready to calculate sentiment, you can apply it to each review as follows:

In [7]:
# Add a negative sentiment and positive sentiment column
print("Calculating sentiment columns for both positive and negative reviews")
start = time.time()
df["Negative_Sentiment"] = df.Negative_Review.apply(calc_sentiment)
df["Positive_Sentiment"] = df.Positive_Review.apply(calc_sentiment)
end = time.time()
print("Calculating sentiment took " + str(round(end - start, 2)) + " seconds")

Calculating sentiment columns for both positive and negative reviews
Calculating sentiment took 290.36 seconds

##### This takes approximately 290.36 seconds on my computer, but it will vary on each computer. If you want to print of the results and see if the sentiment matches the review:

In [8]:
df = df.sort_values(by=["Negative_Sentiment"], ascending=True)
print(df[["Negative_Review", "Negative_Sentiment"]])
df = df.sort_values(by=["Positive_Sentiment"], ascending=True)
print(df[["Positive_Review", "Positive_Sentiment"]])

                                          Negative_Review  Negative_Sentiment
186584  So bad experience memories I hotel The first n...             -0.9920
129503  First charged twice room booked booking second...             -0.9896
307286  The staff Had bad experience even booking Janu...             -0.9889
201953  Everything DO NOT STAY AT THIS HOTEL I never i...             -0.9886
201293  We usually traveling Paris 2 3 times year busi...             -0.9873
...                                                   ...                 ...
292183  The amazing hotel I ever stayed Very beautiful...              0.9932
79215   I find anything hotel first I walked past hote...              0.9938
138365  Wifi terribly slow I speed test network upload...              0.9938
278506  The property great location There bakery next ...              0.9945
339189  Guys I like hotel I wish return next year Howe...              0.9948

[450129 rows x 2 columns]
                                          Positive_Review  Positive_Sentiment
137893  Bathroom Shower We going stay twice hotel 2 ni...             -0.9820
5839    I completely disappointed mad since reception ...             -0.9780
64158   get everything extra internet parking breakfas...             -0.9751
124178  I didnt like anythig Room small Asked upgrade ...             -0.9721
278617  No tea coffee facilities Dirty beds Dirty bath...             -0.9635
...                                                   ...                 ...
293710  This place surprise expected good actually gre...              0.9985
417442  We celebrated wedding night Langham I commend ...              0.9985
132492  We arrived super cute boutique hotel area expl...              0.9987
287419  When first arrived hotel staff incredibly frie...              0.9987
179007  We went Andaz 40th birthday celebration This a...              0.9991

[450129 rows x 2 columns]

##### The very last thing to do with the file before using it is to save it. You should also consider reordering all your new columns so they are easy to work with.

In [9]:
# Reorder the columns (This is cosmetic, but to make it easier to explore the data later)
df = df.reindex(["Hotel_Name", "Hotel_Address", "Total_Number_of_Reviews", "Average_Score", "Reviewer_Score", "Negative_Sentiment", "Positive_Sentiment", "Reviewer_Nationality", "Leisure_trip", "Couple", "Solo_traveler", "Business_trip", "Group", "Family_with_young_children", "Family_with_older_children", "With_a_pet", "Negative_Review", "Positive_Review"], axis=1)

print("Saving results to Hotel_Reviews_NLP.csv")
df.to_csv(r"Hotel_Reviews_NLP.csv", index = False)

Saving results to Hotel_Reviews_NLP.csv